<div class="container-fluid alignCenter padding2">
<h2 class="font-acme">contact us</h2>
  <div class="row">
	<div class="col-12  d-md-none">	
		<% for(var i of data['info']) { %>
        <p>
        <% if(i['json']) { %>
            <%= i['name'] %> | <a href="<%= i['json']['link'] %>" class="blueText">
            <%= i['json']['info'] %></a> 
        <% } else { %>
            <%= i['name'] %>
        <% } %>
    </p>
    
    <% } %> 
		<div class="agmap_canvas">
		<iframe width="450" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=14210%20Highway%2050&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
		<style>
		.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:450px;}</style></div>

    <div class="col-6 d-none d-md-block my-auto">
    <% for(var i of data['info']) { %>
		<p>
		<% if(i['json']) { %>
			<%= i['name'] %> | <a href="<%= i['json']['link'] %>" class="blueText">
			<%= i['json']['info'] %></a> 
		<% } else { %>
			<%= i['name'] %>
		<% } %>
	</p>

	<% } %>
	</div>
	<div class="col-6 d-none d-md-block d-lg-none">
<div class="agmap_canvas">
		<iframe width="350" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=14210%20Highway%2050&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
	</div>
	

	<div class="col-6 d-none d-lg-block">
<div class="agmap_canvas">
		<iframe width="450" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=14210%20Highway%2050&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
	</div>



</div>
  </div>
