<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/style.css">
    <script src="/ejs.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
	

	<% var nav = data['nav'].map( x => (x['json']) ? JSON.parse(x['json'])['link'] : null ) ; %>
	<% if (subpage && subpage != page) { %>
		<% if(nav.includes('/' + page + '/' + subpage)) { %>
    		<%- include('../partials/header.ejs') %>
    		<%- include('../partials/' + page + '.ejs') %>
			<%- include('../partials/' + page + '/' + subpage + '.ejs') %>
			<%- include('../partials/footer.ejs') %>
		
		<% } else { %>
			<%- include('404.ejs') %>
		<% } %>
	<% } else if (nav.includes('/'+page)) { %>
    	<%- include('../partials/header.ejs') %>
    	<%- include('../partials/' + page + '.ejs') %>
		<%- include('../partials/footer.ejs') %>
	<% } else { %>
		<%- include ('404.ejs') %>
	<% } %>
  </body>

</html>
